header{
    display: flex;
    justify-content: space-between;
    height: 3rem;
    padding: 10px;
}

header img{
    width: 45px;
    height: 45px;
}

label input{
    position: absolute;
    opacity: 0;
}

.darkmode, .brazilflag{
    position: absolute;
    transform: scale(0);
    transition: 1s ease;
}

input:checked~.darkmode, input:checked~.brazilflag{
    transform: scale(1) rotate(360deg);
}

.lightmode, .usaflag{
    transition: 1s ease;
}

input:checked~.lightmode, input:checked~.usaflag{
    transform: rotate(360deg) scale(0);
}