@import "tailwindcss";

*{
  font-family: 'JetBrains Mono', monospace;
  letter-spacing: 2px;
}

@keyframes appear-left {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes appear-right {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Aparecer da esquerda */
.appear-left {
  animation: appear-left 0.5s ease-out;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

/* Aparecer da direita */
.appear-right {
  animation: appear-right 0.5s ease-out;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

@theme {
  --base-color: #0f0f0f;
  --primary-color: #541185;
  --secondary-color: #817299;
  --tertiary-color: #A50C0E;
  --color-base: #0f0f0f;
  --color-primary: #541185;
  --color-secondary: #817299;
  --color-tertiary: #A50C0E;
 }

[data-theme="light"]{
  --base-color: #d4d4d4;
  --color-base: #d4d4d4;
 }

 [data-theme="dark"]{
  --base-color: #0f0f0f;
  --color-base: #0f0f0f;
 }