*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

/*   font-family: gt, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
 */  font-family: 'JetBrains Mono', monospace;
}

:root{
  --base-color: #000;
  --primary-color: #541185;
  --secondary-color: #817299;
  --tertiary-color: #A50C0E;
 }

[data-theme="light"]{
  --base-color: #fff;
 }