@import "tailwindcss";

*{
  font-family: 'JetBrains Mono', monospace;
  letter-spacing: 2px;
}

@keyframes appear-left {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes appear-right {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}


.appear-left {
  animation: appear-left 0.5s ease-out;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.appear-right {
  animation: appear-right 0.5s ease-out;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.appear{
  animation: appear 0.5s ease-out;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-10%);
  }
}

.slide {
  animation: slide 5s linear infinite alternate;
  will-change: transform;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1200px);
  }
}

.slider {
  display: flex;
  gap: 40px;
  animation: scroll 5s linear infinite;
}


@theme {
  --base-color: #0f0f0f;
  --primary-color: #541185;
  --secondary-color: #817299;
  --tertiary-color: #A50C0E;
  --color-base: #0f0f0f;
  --color-primary: #541185;
  --color-secondary: #817299;
  --color-tertiary: #A50C0E;
 }

[data-theme="light"]{
  --base-color: #d4d4d4;
  --color-base: #d4d4d4;
 }

 [data-theme="dark"]{
  --base-color: #0f0f0f;
  --color-base: #0f0f0f;
 }